<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.doorlockclient">

    <supports-screens android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true" />

    <application
        android:name=".SetTypekit"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar" >
        <activity
            android:name="com.example.user.doorlockclient.MainActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".AgreementPattern">
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".CheckConnection">
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".InsertPassword">
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".InsertPattern">
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".ResetPassword">
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".ResetPattern">
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".ShowLog">
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".WaitPerson">
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus"
        android:required="false"/>

    <supports-screens android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true" />

</manifest>
